@charset "utf-8";
@import url(../Plugins/eLayout/default/style.css); /* 布局 */
@import url(../Plugins/eButton/default/style.css);  /* 按钮 */
@import url(../Plugins/ePanel/default/style.css); /* 面板 */
@import url(../Plugins/ePager/default/style.css); /* 分页 */
@import url(../Plugins/eDataView/default/style.css); /* 查看表格 */
@import url(../Plugins/eDataTable/default/style.css); /* 列表 */
@import url(../Plugins/eColumnMenu/default/style.css); /* 列表菜单 */
@import url(../Plugins/eForm/default/style.css);/*表单*/
@import url(../Plugins/eLink/default/style.css);/*连接样式*/
@import url(../Plugins/eSearchItem/default/style.css);/*搜索样式*/
@import url(../Plugins/eTab/default/style.css);/*选项卡样式*/
@import url(../Plugins/layui226/css/layui.css);/*对话框*/
@import url(../Plugins/eTree/default/style.css);/*目录树*/
@import url(../Plugins/eMenu/default/style.css);/*导航菜单*/

@import url(../Plugins/eMenu/mobile/css/style.css);/*移动端导航菜单*/

.header { position:fixed;top:0px; width:100%; min-height:50px; padding:0px;padding-left:10px; box-shadow:0 0 1px #555; background: #0697da;margin:0px; color:#FFFFFF;font-size:14px;
line-height:50px;
text-align:center; font-weight:bold;
}
.header .menu-bar { float:left; width:20px; height:20px; margin-top:15px; margin-right:20px;margin-left:10px; background:url(images/menu.png) no-repeat; background-size:20px 20px; padding-bottom:15px;}
.header .menu-add{float:right;display:inline-block;width:40px;margin-right:20px;font-size:32px;color:#ffffff; font-family:"宋体";}
.header .menu-back{float:right;display:inline-block;width:40px;margin-right:20px;font-size:15px;color:#ffffff; font-family:"宋体";}